:root {
    --primary-color: gray;
    --secondary-color: lightblue;
    --third-color: black;
}  

body {
    background-color: var(--primary-color);
} 

/* header start */
header {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px 6% 15px 0;
    align-items: center;
    background: var(--third-color); 
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

header h1 {
    display: flex;
    justify-content: flex-start;
    align-items: ;
    font-size: 40px;
    color: var(--secondary-color);
    padding: 5px 1% 5px 6%;
    background-color: var(--primary-color);
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 25px;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a {
    display: flex;
    padding: 5px 10px;
}
/* header ends */

.section-subtitle {
    background-image: url(code.png);
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

h2 {
    color: var(--secondary-color);
    font-size: 40px;
    font-weight: bold;
} 
p {
    color: var(--secondary-color);
}

.page-border {
    border-left: 3px solid;
    border-color: lightblue;
    padding-left: 40px;
}

.page-wrapper {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
}

.page-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    padding: 10px 0;
}

.page-section div {
    flex: 0 0 75%;
}

.contact-spacing {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
}

/* css grid starts */
.project-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    height: 500px; 
}


.project-grid-item {
    width: 1fr;
    height: 1fr;
    border: 6px solid var(--secondary-color);
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: end;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
}

.project-grid-item h3 {
    background-color: gray;
    
}

.project-grid-item.run-buddy {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    background-image: url(hero.jpg);
    background-size: cover;
}

.project-grid-item.password-gen {
    grid-column: 1 / span 1;
    grid-row:  3 / span 1;
    background-image: url(matrix.png);
    background-size: cover;
    
}

.project-grid-item.brolys-plan {
    grid-column: 2/ span 1;
    grid-row: 3 / span 1;
    background-image: url(broly.jpg);
    background-size: cover;
}

.project-grid-item.enemy-battle-rounds {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    background-image: url(battles.jpg);
    background-size: cover;
}

.project-grid-item.the-throne {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    background-image: url(Throne.jpg);
    background-size: cover;
}

/* media Query's */
 
